@import url('https://fonts.googleapis.com/css?family=Raleway:400,800');
html {
  height: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif,"Niramit";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ffa751;
  background-image: linear-gradient(#ffe259,#ffa751);
  background-repeat: no-repeat;
  color: #3f3c35;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.navbar-menu {
  list-style-type: none;
  margin-top: .5em;
}

.navbar-item {
  font-size: 1.9vh;
  display: inline;
  padding: .4em;
  font-family: "Raleway";
}

a {
  text-decoration: none;
  color: #3f3c35;
}

a:hover {
  color: #ffffff;
  text-decoration: none;
}

.logo-type {
  font-size: 14vw;
  font-family: "Raleway";
  font-weight: 800;
  line-height: 90%;
}

.section-title {
  font-size: 8vw;
  font-family: "Raleway";
  font-weight: 800;
}

.p-type {
  font-size: 3.5vw;
  font-family: "Raleway";
  padding: .5em;
}

.sp-type {
  color: #ff3a57;
  font-weight: 800;
}

.form-div {
  max-width: 70vw;
  font-family: "Raleway";
  font-size: 2.8vw;
}

.fade-enter {
  opacity: 0.01;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit.fade-exit-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

div.transition-group {
  position: relative;
}
section.route-section {
position: absolute;
width: 100%;
top: 0;
left: 0;
}